.TopBar
  position fixed !important
  margin-top -64px

  .links
    margin-top 14px

    button
      color #fff !important

    .active button
      background-color: rgba(255,255,255,0.2) !important
  
.card
  margin-top 20px
