.SignUp, .LogIn, .Invitation
  margin-top 150px

  .email, .password, .cta, .teamName
    width 100% !important

  .branding
    text-align: center

  .cta
    margin-top 50px

  .terms
    margin-top 5px
    font-size 13px
    color #aaa
    text-align center

  .login
    color #aaa
    margin-top 20px
    text-align center
